@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';


* {
    font-optical-sizing: auto;
}

@theme {
    --font-plus-jakarta: "Plus Jakarta Sans", sans-serif;

    --color-primary: #5A10C7;
    --color-primary-dark: #2C0861;

    --color-charcoal: #333;
    --color-dark-charcoal: #1e1e1e;

    --color-light-magenta: #A984E0;
    --color-dark-magenta: #9052ED;
}
